<h1>Espace de travail</h1>

<app-editor [ngModel]="content" (ngModelChange)="onContentChange($event)"></app-editor>

<!-- <app-file-drop-zone (files)="add($event)"> </app-file-drop-zone>

<div class="grid">
  @for (doc of documents; track doc.id) {
    <div>
      @if (doc.type.startsWith('image')) {
        <img [src]="doc.path" />
      }

      @if (doc.type === 'application/pdf') {
        <iframe [src]="doc.path" width="100%" height="600"> </iframe>
      } @else {
        📄 {{ doc.name }}
      }
    </div>
  }
</div> -->
